<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NDBackuper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <NDBackuper.Properties.Settings>
            <setting name="SourceServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="SourceUserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SourceLoginSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceIsRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinationServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="DestinationUserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="DestinationPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DestinationLoginSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinationIsRemember" serializeAs="String">
                <value>False</value>
            </setting>
        </NDBackuper.Properties.Settings>
    </userSettings>
</configuration>
